{% block navbar %}
      <nav>
    <div class="sidebar-button">
      <i class="bx bxs-user-circle"></i>
      <span class="dashboard">Dashboard</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search..." />
      <i class="bx bx-search"></i>
    </div>
    <div class="profile-details" onclick="move('profileUser.html')">
      <i class="bx bxs-user-circle"></i>
      <span class="admin_name">{{ first_name }} ({{ user_info.status }})</span>
      <i class="bx bx-log-in-circle"></i>
    </div>
  </nav>
{% endblock %}