{% extends 'base/base.html' %}
{% load static %}

  {% block body_block %}
    <section class="home-section">
        {% include 'base/navbar.html' %}

      <div class="home-content">
        <div class="update-boxes2" data-aos="fade-right">
          <div class="recent-update box">
            <div class="title">Kelas</div>
            <div class="update-details" style="float: none">
              <ul class="details">
                <li class="topic">No</li>
                <li>1</li>
                <li>2</li>
              </ul>
              <ul class="details">
                <li class="topic">Nama</li>
                <li>nama 1</li>
                <li>nam 2</li>
              </ul>
              <ul class="details">
                <li class="topic">NIK</li>
                <li>001</li>
                <li>002</li>
              </ul>
              <ul class="details">
                <li class="topic">Jenis Kelamin</li>
                <li>Laki-Laki</li>
                <li>Perempuan</li>
              </ul>
              <ul class="details">
                <li class="topic">Progres</li>
                <li>80%</li>
                <li>70%</li>
              </ul>
              <ul class="details" style="text-align: center">
                <li class="topic">Tindakan</li>
                <li>
                  <ul class="action">
                    <li>
                      <a href="#" class="print"
                        ><i class="bx bx-printer" style="margin-right: 10px"></i
                        >Print</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <ul class="action">
                    <li>
                      <a href="#" class="print"
                        ><i class="bx bx-printer" style="margin-right: 10px"></i
                        >Print</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
          sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      };

      function confirmation() {
        var ask = confirm("Apakah Anda Yakin ?");

        if (ask === true) {
          window.location = "login.html";
        } else {
        }
      }

      function confirmation2() {
        var ask = confirm("Apakah Anda Yakin ?");

        if (ask === true) {
          alert("Data Berhasil Dihapus");
        } else {
        }
      }

      function move(url) {
        window.location = url;
      }
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 200,
        delay: 100,
        duration: 400,
        easing: "ease",
        once: false,
        mirror: false,
        anchorPlacement: "top-bottom",
      });
    </script>
{% endblock %}