{% extends 'base/base.html' %}
{% block body_block %}
    <section class="home-section">
    {% include 'base/navbar.html' %}

      <div class="home-content">
        <div class="overview-boxes">
          <div class="box" data-aos="fade-right">
            <div class="right-side">
              <div class="box-topic">Guru</div>
              <div class="number">100</div>
              <div class="indicator">
                <i class="bx bxs-edit"></i>
                <span class="text">Terkahir Diedit</span>
              </div>
            </div>
            <i class="bx bxs-circle-three-quarter logo bx-spin"></i>
          </div>
          <div class="box" data-aos="fade-down">
            <div class="right-side">
              <div class="box-topic">Kelas</div>
              <div class="number">38</div>
              <div class="indicator">
                <i class="bx bxs-edit"></i>
                <span class="text">Terkahir Diedit</span>
              </div>
            </div>
            <i class="bx bxs-circle-three-quarter logo two bx-spin"></i>
          </div>
          <div class="box" data-aos="fade-down">
            <div class="right-side">
              <div class="box-topic">Siswa</div>
              <div class="number">300</div>
              <div class="indicator">
                <i class="bx bxs-edit"></i>
                <span class="text">Terakhir Diedit</span>
              </div>
            </div>
            <i class="bx bxs-circle-three-quarter logo three bx-spin"></i>
          </div>
          <div class="box" data-aos="fade-left">
            <div class="right-side">
              <div class="box-topic">Mapel</div>
              <div class="number">15</div>
              <div class="indicator">
                <i class="bx bxs-edit"></i>
                <span class="text">Terkahir Diedit</span>
              </div>
            </div>
            <i class="bx bxs-circle-three-quarter logo four bx-spin"></i>
          </div>
        </div>

        <div class="update-boxes">
          <div class="recent-update box" data-aos="fade-right">
            <div class="title">Update</div>
            <div class="update-details">
              <ul class="details">
                <li class="topic">Tanggal</li>
                <li>17-02-2022</li>
                <li>18-02-2022</li>
              </ul>
              <ul class="details">
                <li class="topic">User</li>
                <li>Username</li>
                <li>Username</li>
              </ul>
              <ul class="details">
                <li class="topic">Kelas</li>
                <li>XI-RPL 1</li>
                <li>XI-RPL 2</li>
              </ul>
              <ul class="details">
                <li class="topic">Tindakan</li>
                <li>Input</li>
                <li>Update</li>
              </ul>
            </div>
            <div class="button">
              <a href="#">See All</a>
            </div>
          </div>
          <div class="top-update box" data-aos="fade-left">
            <div class="title">Progres(%)</div>
            <ul class="top-update-details">
              <li>
                <a href="#">
                  <i class="bx bx-loader-alt bx-spin" style="color: blue"></i>
                  <span class="item">XI-RPL1</span>
                </a>
                <span class="desc">10%</span>
              </li>
              <li>
                <a href="#">
                  <i class="bx bx-loader-alt bx-spin" style="color: blue"></i>
                  <span class="item">XI-RPL2</span>
                </a>
                <span class="desc">30%</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
          sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      };

      function confirmation() {
        var ask = confirm("Apakah Anda Yakin ?");

        if (ask === true) {
          window.location = "login.html";
        } else {
        }
      }

      function move(url) {
        window.location = url;
      }
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 200,
        delay: 100,
        duration: 400,
        easing: "ease",
        once: false,
        mirror: false,
        anchorPlacement: "top-bottom",
      });
    </script>
{% endblock body_block %}