<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Thearning-Rekapan nilai</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bx-bar-chart-alt-2"></i>
        <span class="logo_name">Thearning</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="admin.html">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="history.html">
            <i class="bx bx-history"></i>
            <span class="links_name">Riwayat Login</span>
          </a>
        </li>
        <li>
          <a href="report.html">
            <i class="bx bxs-report"></i>
            <span class="links_name">Laporan Akhir</span>
          </a>
        </li>
        <li>
          <a href="teacher.html">
            <i class="bx bxs-user-rectangle bx-tada"></i>
            <span class="links_name">Data Guru</span>
          </a>
        </li>
        <li>
          <a href="student.html" class="active">
            <i class="bx bx-book-reader bx-tada"></i>
            <span class="links_name">Data Siswa</span>
          </a>
        </li>
        <li>
          <a href="class.html">
            <i class="bx bx-building-house"></i>
            <span class="links_name">Data Kelas</span>
          </a>
        </li>
        <li>
          <a href="course.html">
            <i class="bx bx-book-open"></i>
            <span class="links_name">Data Mapel</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#" onclick="confirmation()">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bxs-user-circle"></i>
          <span class="dashboard">Input</span>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Search..." />
          <i class="bx bx-search"></i>
        </div>
        <div class="profile-details" onclick="move('profile.html')">
          <i class="bx bxs-user-circle"></i>
          <span class="admin_name">Username (Level)</span>
          <i class="bx bx-log-in-circle"></i>
        </div>
      </nav>

      <div class="home-content">
        <div class="update-boxes2" data-aos="fade-right">
          <div class="recent-update box">
            <div class="title">Siswa</div>
            <div class="update-details">
              <ul class="details" style="width: 150px; height: 150px">
                <li class="topic" style="width: 150px; height: 150px">
                  <i
                    class="bx bx-user-circle"
                    style="font-size: 150px; color: #0a2558"
                  ></i>
                </li>
              </ul>
              <ul class="details">
                <li class="topic">Nama Siswa</li>
                <li class="topic">NIK</li>
                <li class="topic">Jenis Kelamin</li>
                <li class="topic">Kelas</li>
              </ul>
              <ul class="details">
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
              </ul>
              <ul class="details">
                <li>
                  <input
                    type="text"
                    name="studentName"
                    id="studentName"
                    placeholder="Masukan Nama"
                  />
                </li>
                <li>
                  <input
                    type="text"
                    name="nik"
                    id="nik"
                    placeholder="Masukan NIK"
                  />
                </li>
                <li>
                  <input
                    type="text"
                    name="gender"
                    id="gender"
                    placeholder="Masukkan Jenis Kelamin"
                  />
                </li>
                <li>
                  <input
                    type="text"
                    name="class"
                    id="class"
                    placeholder="Masukkan Kelas"
                  />
                </li>
              </ul>
            </div>
            <div class="button">
              <a
                href="student.html"
                onClick="alert('Data Siswa Berhasil Ditambahkan')"
                >Simpan</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
          sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      };

      function confirmation() {
        var ask = confirm("Apakah Anda Yakin ?");

        if (ask === true) {
          window.location = "login.html";
        } else {
        }
      }
      function move(url) {
        window.location = url;
      }
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 200,
        delay: 100,
        duration: 400,
        easing: "ease",
        once: false,
        mirror: false,
        anchorPlacement: "top-bottom",
      });
    </script>
  </body>
</html>
