<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Thearning-Rekapan nilai</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bx-bar-chart-alt-2"></i>
        <span class="logo_name">Thearning</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="user.html">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="grade.html">
            <i class="bx bxs-file-plus"></i>
            <span class="links_name">Input Nilai</span>
          </a>
        </li>
        <li>
          <a href="editGrade.html">
            <i class="bx bx-edit"></i>
            <span class="links_name">Edit Nilai</span>
          </a>
        </li>
        <li>
          <a href="#" class="active">
            <i class="bx bx-lock-open-alt bx-tada"></i>
            <span class="links_name">Ubah Password</span>
          </a>
        </li>
        <li>
          <a href="hrTeacher.html">
            <i class="bx bxs-user-account"></i>
            <span class="links_name">Wali Kelas</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#" onclick="confirmation()">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bxs-user-circle"></i>
          <span class="dashboard">Ubah Password</span>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Search..." />
          <i class="bx bx-search"></i>
        </div>
        <div class="profile-details" onclick="move('profileUser.html')">
          <i class="bx bxs-user-circle"></i>
          <span class="admin_name">Username (Level)</span>
          <i class="bx bx-log-in-circle"></i>
        </div>
      </nav>

      <div class="home-content">
        <div class="update-boxes2" data-aos="fade-right">
          <div class="recent-update box">
            <div class="title">Guru</div>
            <div class="update-details">
              <ul class="details" style="width: 150px; height: 150px">
                <li class="topic" style="width: 150px; height: 150px">
                  <i
                    class="bx bx-user-circle"
                    style="font-size: 150px; color: #0a2558"
                  ></i>
                </li>
              </ul>
              <ul class="details">
                <li class="topic">Username</li>
                <li class="topic">Password</li>
                <section
                  class="change"
                  style="visibility: hidden; position: absolute"
                >
                  <li class="topic">Password Baru</li>
                  <li class="topic">kondirmasi Password</li>
                </section>
                <li class="topic">NIP</li>
                <li class="topic">Jenis Kelamin</li>
                <li class="topic">Level</li>
                <li class="topic">Mata Pelajaran</li>
                <li class="topic">Kelas</li>
              </ul>
              <ul class="details">
                <li>:</li>
                <li>:</li>
                <section
                  class="change2"
                  style="visibility: hidden; position: absolute"
                >
                  <li>:</li>
                  <li>:</li>
                </section>
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
              </ul>
              <ul class="details">
                <li>
                  <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Nama"
                    style="width: 230%"
                    readonly
                  />
                </li>
                <li>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                    style="width: 180%"
                  />
                  <div class="button2">
                    <a href="#" onclick="showHide()">Ubah</a>
                  </div>
                </li>
                <section
                  class="change3"
                  style="visibility: hidden; position: absolute"
                >
                  <li>
                    <input
                      type="password"
                      name="newPassword"
                      id="newPassword"
                      placeholder="Masukan Password Baru"
                      style="width: 230%"
                    />
                  </li>
                  <li>
                    <input
                      type="password"
                      name="validPassword"
                      id="validPassword"
                      placeholder="confirmation Password"
                      style="width: 230%"
                    />
                  </li>
                </section>
                <li>
                  <input
                    type="text"
                    name="nip"
                    id="nip"
                    placeholder="NIP"
                    style="width: 230%"
                    readonly
                  />
                </li>
                <li>
                  <input
                    type="text"
                    name="gender"
                    id="gender"
                    placeholder="Jenis Kelamin"
                    style="width: 230%"
                    readonly
                  />
                </li>
                <li>
                  <input
                    type="text"
                    name="level"
                    id="level"
                    placeholder="Level"
                    style="width: 230%"
                    readonly
                  />
                </li>
                <li>
                  <input
                    type="text"
                    name="course"
                    id="course"
                    placeholder="Mata Pelajaran"
                    style="width: 230%"
                    readonly
                  />
                </li>
                <li>
                  <input
                    type="text"
                    name="class"
                    id="class"
                    placeholder="Kelas"
                    style="width: 230%"
                    readonly
                  />
                </li>
              </ul>
            </div>
            <div class="button">
              <a href="user.html" onClick="alert('Data Guru Berhasil Diubah')"
                ><i class="bx bx-save" style="margin-right: 5px"></i>Simpan</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
          sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      };

      function confirmation() {
        var ask = confirm("Apakah Anda Yakin ?");

        if (ask === true) {
          window.location = "login.html";
        } else {
        }
      }
      function move(url) {
        window.location = url;
      }
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 200,
        delay: 100,
        duration: 400,
        easing: "ease",
        once: false,
        mirror: false,
        anchorPlacement: "top-bottom",
      });

      function showHide() {
        var x = document.querySelector(".change");
        var y = document.querySelector(".change2");
        var z = document.querySelector(".change3");
        if (x.style.visibility === "hidden") {
          x.style.visibility = "visible";
          x.style.position = "relative";
        } else {
          x.style.visibility = "hidden";
          x.style.position = "absolute";
        }
        if (y.style.visibility === "hidden") {
          y.style.visibility = "visible";
          y.style.position = "relative";
        } else {
          y.style.visibility = "hidden";
          y.style.position = "absolute";
        }
        if (z.style.visibility === "hidden") {
          z.style.visibility = "visible";
          z.style.position = "relative";
        } else {
          z.style.visibility = "hidden";
          z.style.position = "absolute";
        }
      }
    </script>
  </body>
</html>
