<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Thearning-Rekapan nilai</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bx-bar-chart-alt-2"></i>
        <span class="logo_name">Thearning</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="{% url 'user' %}">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{% url 'grade' %}">
            <i class="bx bxs-file-plus"></i>
            <span class="links_name">Input Nilai</span>
          </a>
        </li>
        <li>
          <a href="#" class="active">
            <i class="bx bx-edit bx-tada"></i>
            <span class="links_name">Edit Nilai</span>
          </a>
        </li>
        <li>
          <a href="{% url 'changePassword' %}">
            <i class="bx bx-lock-open-alt"></i>
            <span class="links_name">Ubah Password</span>
          </a>
        </li>
        <li>
          <a href="{% url 'hrTeacher' %}">
            <i class="bx bxs-user-account"></i>
            <span class="links_name">Wali Kelas</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#" onclick="confirmation()">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bxs-user-circle"></i>
          <span class="dashboard">Edit</span>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Search..." />
          <i class="bx bx-search"></i>
        </div>
        <div class="profile-details" onclick="move('profileUser.html')">
          <i class="bx bxs-user-circle"></i>
          <span class="admin_name">Username (Level)</span>
          <i class="bx bx-log-in-circle"></i>
        </div>
      </nav>

      <div class="home-content">
        <div class="update-boxes2" data-aos="fade-right">
          <div class="recent-update box input">
            <div class="title">Nilai</div>
            <div class="update-details">
              <table class="input">
                <colgroup>
                  <col span="1" style="width: 10%" />
                  <col span="1" style="width: 20%" />
                  <col span="1" style="width: 70%" />
                </colgroup>
                <tbody>
                  <tr class="details icon">
                    <td class="topic" rowspan="8">
                      <i
                        class="bx bxs-graduation"
                        style="font-size: 150px; color: #0a2558"
                      ></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="topic">Mata Pelajaran</td>
                    <td>
                      <input
                        type="text"
                        name="course"
                        id="course"
                        placeholder="Mata Pelajaran"
                      />
                    </td>
                  </tr>
                  <tr class="details">
                    <td class="topic">Nama Siswa</td>
                    <td>
                      <input
                        type="text"
                        name="nameStudent"
                        id="nameStudent"
                        placeholder="Nama Siswa"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="topic">Kelas</td>
                    <td>
                      <input
                        type="text"
                        name="class"
                        id="class"
                        placeholder="Kelas"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="topic">Nilai</td>
                    <td>
                      <input
                        type="text"
                        name="grade"
                        id="grade"
                        placeholder="Nilai"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="buttonSave">
              <a
                href="{% url 'grade' %}"
                onClick="alert('Nilai Berhasil Diubah'); resetInput();"
                >Simpan</a
              >
            </div>
          </div>
        </div>
        <div class="update-boxes2" data-aos="fade-right">
          <div class="recent-update box">
            <div class="title">Daftar Nilai</div>
            <div class="update-details" style="float: none">
              <table>
                <tr class="details">
                  <th class="topic">No</th>
                  <th class="topic">Nama</th>
                  <th class="topic">NIK</th>
                  <th class="topic">Jenis Kelamin</th>
                  <th class="topic">Nilai</th>
                  <th class="topic">Tindakan</th>
                </tr>
                <tr class="details">
                  <td>1</td>
                  <td>nama 1</td>
                  <td>002</td>
                  <td>Perempuan</td>
                  <td>80</td>
                  <td class="action">
                    <a href="#" class="delete" onclick="confirmation2()"
                      >Hapus</a
                    >
                  </td>
                </tr>
                <tr class="details">
                  <td>2</td>
                  <td>nam 2</td>
                  <td>001</td>
                  <td>Laki-Laki</td>
                  <td>70</td>
                  <td class="action">
                    <a href="#" class="delete" onclick="confirmation2()"
                      >Hapus</a
                    >
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
          sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      };

      function confirmationation() {
        var ask = confirm("Apakah Anda Yakin ?");

        if (ask === true) {
          window.location = "login.html";
        } else {
        }
      }
      function move(url) {
        window.location = url;
      }

      function resetInput() {
        document.getElementsByClassName("inputs").reset();
      }
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 200,
        delay: 100,
        duration: 400,
        easing: "ease",
        once: false,
        mirror: false,
        anchorPlacement: "top-bottom",
      });
    </script>
  </body>
</html>
